@import '~node_modules/modern-normalize/modern-normalize.css';

html {
  scroll-behavior: smooth;
}

.search-form {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: stretch;
  margin-top: 20px;
  margin-bottom: 20px;
}

input.search-input:focus-visible {
  outline-color: palegoldenrod;
  border-radius: 3px;
  box-shadow: 0 0 5px 5px palegoldenrod;
}

.search-input {
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 2px;
  box-shadow: inset 0 0 5px 5px rgba(0, 0, 0, 0.2);
}

.submit-btn {
  height: 60px;

  border-radius: 50%;
  color: #fff;
  background-color: darkgreen;
  border-color: transparent;
}

.submit-btn:focus {
  box-shadow: 0 0 5px 5px palegoldenrod;
}

.gallery {
  display: flex;
  max-width: 1140px;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: start;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.preview-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  transition: transform 250ms linear;
}

.photo-card {
  flex-basis: calc((100% - 40px) / 3);
  border: solid grey 2px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3), 0px 4px 4px rgba(0, 0, 0, 0.06),
    4px 4px 6px rgba(0, 0, 0, 0.16);
  transition: transform 250ms linear;
}

.photo-card:hover {
  transform: scale(1.05);
}

.info {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  justify-content: space-around;
  background-color: #fff;
}
